.backdrop_image {
  @apply absolute top-0 right-0 w-full h-[600px] bg-no-repeat bg-cover bg-center z-[-1] min-[1200px]:rounded-tr-radius-36;

  &::after {
    @apply content-[""] absolute inset-0;
    background-image: linear-gradient(0deg, hsla(250, 13%, 11%, 1), hsla(250, 13%, 11%, 0.9));
  }
}

img[alt="rating"] {
  align-self: flex-start;
  margin-top: -1px;
}

.separator {
  @apply w-[4px] h-[4px] bg-white-alpha-20 rounded-radius-8
}

.detail_list{
  margin-block: 24px 32px;
}

.movie_detail {
  @apply min-[768px]:flex min-[768px]:items-start min-[768px]:gap-[40px];

  .detail_box {
    @apply min-[768px]:grow;
  }

  .detail_content {
    @apply min-[575px]:max-w-[750px]
  }
  .movie_poster {
    @apply max-w-[300px] w-full min-[768px]:shrink-0 min-[768px]:sticky min-[768px]:top-0;
  }

  .slider_list {
    @apply min-[768px]:mr-0  min-[768px]:rounded-tr-radius-16  min-[768px]:rounded-tl-radius-16;

  }

  .slider_inner::before {
    @apply min-[768px]:hidden;
  }

  .heading {
    margin-block: 24px 12px;
    
  }

  & :is(.meta_list, .genre) {
    @apply text-text-color;
  }

  .genre {
    margin-block: 12px 16px;
  }

  .detail_list{
    margin-block: 24px 32px;
    

    .list_item {
      @apply flex items-start gap-[8px] mb-[12px];

      .list_name {
        @apply text-text-color min-w-[112px]
      }
    }
  }

  .overview {
    @apply dir-l
  }
}
