.sidebar {
  @apply absolute bg-app-background top-[96px] border-t-[1px] border-[hsla(250,6%,20%,1)] border-solid bottom-0 right-[-340px]
  max-w-[340px] w-full z-[4] invisible min-[1200px]:static min-[1200px]:visible min-[1200px]:border-t-0 min-[1200px]:h-[calc(100vh-96px)];
  overflow-y: overlay;
  transition: 500ms ease;

  &::-webkit-scrollbar-thumb {
    @apply bg-transparent
  }

  &::-webkit-scrollbar-button {
    @apply h-[16px]
  }

  &:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    @apply bg-banner-background
  }

  &.active {
    @apply -translate-x-[340px] visible min-[1200px]:transform-none;
  }

  .sideabr_inner {
    @apply grid gap-[25px] py-[36px];

    .sidebar_list,
    .sidebar_footer {
      @apply px-[36px]
    }

    .sidebar_list {
      @apply grid gap-[8px] min-[1200px]:px-[56px];

      .title {
        @apply text-fs-title font-bold mb-[8px];
        letter-spacing: 1.6px;
      }

      .sidebar_link {
        @apply text-on-surface-variant;
        transition: 250ms ease;

        &:is(:hover, :focus-within) {
          @apply text-on-background
        }
      }
    }

    .sidebar_footer {
      @apply border-t-[1px] border-solid border-banner-background pt-[28px] mt-[16px] min-[1200px]:px-[56px];

      .copyRight {
        @apply text-on-surface-variant mb-[20px] hover:text-red-400 cursor-pointer ease-in duration-300;

        a {
          @apply inline-block
        }
      }
    }
  }


}


.overlay {
  @apply fixed top-[96px] left-0 bottom-0 bg-app-background opacity-0 w-full min-[1200px]:hidden;
  transition: 250ms ease;
  z-index: 3;
  pointer-events: none;

  &.active {
    @apply opacity-[0.5];
    pointer-events: all;
  }
}


